body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:160px;
  width:894px;
  height:674px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:674px;
}
#u1 {
  position:absolute;
  left:2px;
  top:329px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:880px;
  top:60px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:100px;
  width:1024px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:115px;
  width:70px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u8_input:disabled {
  color:grayText;
}
#u9 {
  position:absolute;
  left:90px;
  top:115px;
  width:100px;
  height:40px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:410px;
  top:115px;
  width:220px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:310px;
  top:115px;
  width:90px;
  height:40px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:200px;
  top:115px;
  width:100px;
  height:40px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:640px;
  top:115px;
  width:80px;
  height:40px;
  opacity:0.9;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:286px;
  top:636px;
  width:72px;
  height:84px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:84px;
}
#u16 {
  position:absolute;
  left:2px;
  top:34px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:170px;
  width:130px;
  height:664px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:664px;
  background-color:#F4F7F8;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u18 {
  position:absolute;
  left:739px;
  top:115px;
  width:171px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:925px;
  top:115px;
  width:35px;
  height:35px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:407px;
  top:31px;
  width:210px;
  height:38px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:61px;
  top:60px;
  width:76px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:196px;
  top:304px;
  width:150px;
  height:104px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:104px;
}
#u29 {
  position:absolute;
  left:2px;
  top:37px;
  width:146px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:170px;
  width:110px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:237px;
  width:110px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:503px;
  width:110px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:436px;
  width:110px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:370px;
  width:110px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:303px;
  width:110px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:636px;
  width:110px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:569px;
  width:110px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:602px;
  top:382px;
  width:14px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:597px;
  top:523px;
  width:20px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:310px;
  top:402px;
  width:15px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:224px;
  top:682px;
  width:20px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:477px;
  top:333px;
  width:12px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:721px;
  top:491px;
  width:20px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:288px;
  top:497px;
  width:15px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:834px;
  width:1024px;
  height:210px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:210px;
}
#u61 {
  position:absolute;
  left:2px;
  top:97px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:111px;
  top:869px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:782px;
  top:869px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:630px;
  top:869px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:262px;
  top:869px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:430px;
  top:869px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:330px;
  top:994px;
  width:335px;
  height:15px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:285px;
  top:310px;
  width:25px;
  height:25px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:260px;
  top:310px;
  width:25px;
  height:25px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u77 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:235px;
  top:310px;
  width:25px;
  height:25px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u79 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:210px;
  top:310px;
  width:25px;
  height:25px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:310px;
  top:310px;
  width:25px;
  height:25px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:288px;
  top:403px;
  width:22px;
  height:40px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:294px;
  top:408px;
  width:10px;
  height:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:223px;
  top:710px;
  width:22px;
  height:40px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:229px;
  top:715px;
  width:10px;
  height:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:547px;
  top:715px;
  width:22px;
  height:40px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:553px;
  top:720px;
  width:10px;
  height:10px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:720px;
  top:514px;
  width:22px;
  height:40px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:726px;
  top:520px;
  width:10px;
  height:10px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:595px;
  top:546px;
  width:22px;
  height:40px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:601px;
  top:551px;
  width:10px;
  height:10px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:350px;
  top:510px;
  width:10px;
  height:10px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:580px;
  top:405px;
  width:22px;
  height:40px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u107 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:586px;
  top:413px;
  width:10px;
  height:10px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:472px;
  top:356px;
  width:22px;
  height:40px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u111 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:478px;
  top:361px;
  width:10px;
  height:10px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:282px;
  top:520px;
  width:22px;
  height:40px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:288px;
  top:525px;
  width:10px;
  height:10px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:810px;
  top:740px;
  width:50px;
  height:50px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u119 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:812px;
  top:742px;
  width:45px;
  height:45px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u121 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:930px;
  top:739px;
  width:50px;
  height:50px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u123 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:935px;
  top:742px;
  width:45px;
  height:45px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u125 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:870px;
  top:739px;
  width:50px;
  height:50px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u127 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:873px;
  top:742px;
  width:44px;
  height:45px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u129 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:870px;
  top:682px;
  width:50px;
  height:50px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u131 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:872px;
  top:684px;
  width:45px;
  height:45px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u133 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
